<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag "mailer" %>
  <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
  <div class="profile-header">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag(@user.avatar, :class => 'avatar') %>
      </div>
    </div>
      <div class="row">
      <div class="col-sm-12">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <div id="featured-achievement">
          <h3>
            <strong>Thanks for donating  <%= @donation.quantity %> $CAD
            to <a href="http://www.charityspree.com/charities/<%= @charity.id %>"><%= @charity.name %></a>
            at <a href="http://www.charityspree.com">Charity Spree</a> </strong>,  where giving is award winning.
            <strong> <a href="http://www.charityspree.com/users/<%= @user.id %>"> Visit your user profile </a>  </strong>to keep track of your achievements and share your passion for your causes with friends and family.
            <br>
             <h4>The Charity Spree Team </h4>
          </h3>
        </div>
      </div>
    </div>

  </body>
</html>