<div id="tabs" class="container-fluid">
  <div class="row">
    <div class="tab-content container">
      <div class="col-md-6" id="user-form" >
        <h1><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</h1>
        <%= form_for(:user, url: users_path) do |f| %>
        <% if @user.errors.any? %>
        <br>
          <div id="error_explanation" class="errormsg">
            <table>
              <tbody>
                <tr>
                  <td><%= @user.errors.full_messages.first %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
        <br>
        <div><i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
          <div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div>
            <i class="fa fa-lock" aria-hidden="true"></i>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div>
            <i class="fa fa-lock" aria-hidden="true"></i>
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <br>
          <%= f.submit "Save", class: "btn btn-primary" %> <br>
          <br>
          <% end %>
          <p>Already a member? <%= link_to "Login now!", login_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>


