<section id="profile" class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= gravatar_for @user %>
    </div>
    <div class="col-sm-9">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <h3>Featured Achievement: <%= @user.user_achievements[0].achievement.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="user-stats-btn col-sm-8">
      <button type="button" class="btn btn-primary">Statistics</button>
    </div>
    <div class="pick-charity-btn col-sm-2">
      <button type="button" class="btn btn-primary">Pick A Charity</button>
    </div>
    <div class="update-btn col-sm-2">
    <a href= '/users/<%= current_user.id %>/edit'>
      <button class="btn btn-primary">
        Update Profile
      </button>
    </a>
    </div>

  </div>
  <div class="achieved row">
    <div class="col-sm-6">
      <h3>Achievements:</h3>
    </div>
    <div class="col-sm-6">
      <h3>Description:</h3>
    </div>
  </div>

  <% @user.user_achievements.each do | u_a| %>
  <div class="row">
    <div class="achievement-title col-sm-3">
      <%= u_a.achievement.title %>
    </div>
    <div class="achievement-icon col-sm-2">
      <%= image_tag u_a.achievement.image %>
    </div>
    <div class="achievement-description col-sm-7">
        <%= u_a.achievement.description %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="upcoming col-sm-8">
      <h3>Your Upcoming Achievements:</h3>
    </div>
  </div>

  <% @achievements.each do | achievement| %>
  <div class="row">
    <div class="achievement-title col-sm-3">
      <%= achievement.title %>
    </div>
    <div class="achievement-icon col-sm-2">
      <%= image_tag achievement.image %>
    </div>
    <div class="achievement-description col-sm-7">
        <%= achievement.description %>
    </div>
  </div>
  <% end %>
</section>
