<section id="profile" class="container-fluid">
  <a href= '/users/<%= current_user.id %>/edit'>
    <button class="update btn btn-primary">
      <%= image_tag 'cogwheel.png', :class => 'edit-cog' %>
    </button>
  </a>
  <div class="profile-header">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag(@user.avatar, :class => 'avatar') %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <!-- <div id="featured-achievement">
          <h3><strong>Featured Achievement</strong></h3>
          <h4><%= @user.user_achievements[0].achievement.title %></h4>
          <h4><%= image_tag '001-award.png' %></h4>
        </div> -->
      </div>
    </div>
  </div>





  <div id="tabs" class="container">
    <ul  class="nav nav-pills">
      <li class="active">
        <a class="tabs" href=".1a" data-toggle="tab">Achievements</a>
      </li>
      <li>
        <a href=".2a" data-toggle="tab">Upcoming Achievements</a>
    </li>
  </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane active 1a">
        <% @user.user_achievements.each do | u_a| %>
          <% if u_a.achieved == true %>
          <div class="row">
            <div class="achievement-icon col-xs-1">
              <%= image_tag u_a.achievement.image %>
            </div>
            <div class="achievement-title col-xs-2">
              <%= u_a.achievement.title %>
            </div>
            <div class="achievement-description col-xs-3">
                <%= u_a.achievement.description %>
            </div>
            <!-- Facebook Like and Share buttons -->
            <div class="col-xs-4 fb-like" data-href="http://www.charityspree.com/users/<%= current_user.id %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            <!-- Twitter Share button -->
            <a class="col-xs-2 twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane 2a">
        <% @user.user_achievements.each do | u_a| %>
          <% if u_a.achieved == false %>
          <div class="row">
            <div class="achievement-icon col-xs-2">
              <%= image_tag u_a.achievement.image %>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= u_a.progress * 100 / u_a.achievement.progress %>%" aria-valuenow="<%= u_a.progress * 100 / u_a.achievement.progress %>" aria-valuemin="0" aria-valuemax="100"><%= u_a.progress * 100 / u_a.achievement.progress %>%
              </div>
            </div>
            <div class="achievement-title col-xs-3">
              <%= u_a.achievement.title %>
            </div>
            <div class="achievement-description col-xs-7">
                <%= u_a.achievement.description %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>






<!-- Load Facebook SDK for JavaScript  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- *END* Load Facebook SDK for JavaScript  -->

<!-- Load Twitter SDK for JavaScript  -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
<!-- *END* Load Twitter SDK for JavaScript  -->
