<section id="profile" class="container-fluid">
  <a href= '/users/<%= current_user.id %>/edit'>
    <button class="update btn btn-primary">
      <%= image_tag 'cogwheel.png' %>
    </button>
  </a>
  <div class="profile-header">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag('IMG_7128.JPG', :class => 'avatar') %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @user.first_name.downcase %> <%= @user.last_name.downcase %></h1>
        <h3><em>Featured Achievement: <%= @user.user_achievements[0].achievement.title %> <%= image_tag @user.user_achievements[0].achievement.image %></em></h3>
      </div>
    </div>
  </div>








    <div id="tabs" class="container-fluid">
      <ul  class="nav nav-pills">
        <li class="active">
          <a  href="#1a" data-toggle="tab">Achievements</a>
        </li>
        <li>
          <a href="#2a" data-toggle="tab">Upcoming Achievements</a>
      </li>
    </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1a">
        <h3>Here are my achievements</h3>
      </div>
      <div class="tab-pane" id="2a">
        <h3>Here are my upcoming achievements</h3>
      </div>
    </div>
  </div>





















  <div class="achieved row">
    <div class="col-xs-6">
      <h3>Achievements:</h3>
    </div>
    <div class="col-xs-6">
      <h3>Description:</h3>
    </div>
  </div>

  <% @user.user_achievements.each do | u_a| %>
    <% if u_a.achieved == true %>
    <div class="row">
      <div class="achievement-title col-xs-3">
        <%= u_a.achievement.title %>
      </div>
      <div class="achievement-icon col-xs-1">
        <%= image_tag u_a.achievement.image %>
      </div>
      <div class="achievement-description col-xs-5">
          <%= u_a.achievement.description %>
      </div>
      <!-- Facebook Like and Share buttons -->
      <div class="col-xs-2 fb-like" data-href="http://www.charityspree.com/users/<%= current_user.id %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      <!-- Twitter Share button -->
      <a class="col-xs-1 twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
    </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="upcoming col-xs-8">
      <h3>Your Upcoming Achievements:</h3>
    </div>
  </div>

  <% @user.user_achievements.each do | u_a| %>
    <% if u_a.achieved == false %>
    <div class="row">
      <div class="achievement-title col-xs-3">
        <%= u_a.achievement.title %>
      </div>
      <div class="achievement-icon col-xs-2">
        <%= image_tag u_a.achievement.image %>
      </div>
      <div class="achievement-description col-xs-7">
          <%= u_a.achievement.description %>
      </div>
    </div>
    <% end %>
  <% end %>
</section>

<!-- Load Facebook SDK for JavaScript  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- *END* Load Facebook SDK for JavaScript  -->

<!-- Load Twitter SDK for JavaScript  -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
<!-- *END* Load Twitter SDK for JavaScript  -->
