<section id="profile" class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= gravatar_for @user %>
    </div>
    <div class="col-sm-9">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="user-stats-btn col-sm-8">
      <button type="button" class="btn btn-primary">Statistics</button>
    </div>
    <div class="pick-charity-btn col-sm-4">
      <button type="button" class="btn btn-primary">Pick A Charity</button>
    </div>
  </div>
  <a class="navbar-brand" href= '/users/<%= current_user.id %>/edit' > Update Profile </a>
  <div class="row">
    <% @user.user_achievements.each do | u_a| %>
    <div class="col-sm-12">
      <%= u_a.achievement.title %>
      <%= u_a.achievement.description %>
      <%= image_tag u_a.achievement.image %>
    </div>
    <% end %>
  </div>
</section>