<section id="profile" class="container">
  <a href= '/users/<%= current_user.id %>/edit'>
    <button class="update btn btn-primary">
      Update Profile
    </button>
  </a>
  <div class="row">
    <div class="col-sm-3">
      <%= gravatar_for @user %>
    </div>
    <div class="col-sm-9">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <h3>Featured Achievement: <%= @user.user_achievements[0].achievement.title %> <%= image_tag @user.user_achievements[0].achievement.image %></h3>
    </div>
  </div>

  <div class="options row">
    <div class="user-stats-btn col-xs-6">
      <button type="button" class="btn btn-primary">Statistics</button>
    </div>
    <div class="pick-charity-btn col-xs-2">
      <button type="button" class="btn btn-primary">
        <a href="/#charities-list">
          Pick A Charity
        </a>
      </button>
    </div>
  </div>
  <div class="achieved row">
    <div class="col-xs-6">
      <h3>Achievements:</h3>
    </div>
    <div class="col-xs-6">
      <h3>Description:</h3>
    </div>
  </div>

  <% @user.user_achievements.each do | u_a| %>
    <% if u_a.achieved == true %>
    <div class="row">
      <div class="achievement-title col-xs-3">
        <%= u_a.achievement.title %>
      </div>
      <div class="achievement-icon col-xs-2">
        <%= image_tag u_a.achievement.image %>
      </div>
      <div class="achievement-description col-xs-7">
          <%= u_a.achievement.description %>
      </div>
      <!-- Facebook Like and Share buttons -->
      <div class="fb-like" data-href="https://www.charityspree.com/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      <!-- *END* Facebook Like and Share buttons -->
    </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="upcoming col-xs-8">
      <h3>Your Upcoming Achievements:</h3>
    </div>
  </div>

  <% @user.user_achievements.each do | u_a| %>
    <% if u_a.achieved == false %>
    <div class="row">
      <div class="achievement-title col-xs-3">
        <%= u_a.achievement.title %>
      </div>
      <div class="achievement-icon col-xs-2">
        <%= image_tag u_a.achievement.image %>
      </div>
      <div class="achievement-description col-xs-7">
          <%= u_a.achievement.description %>
      </div>
    </div>
    <% end %>
  <% end %>
</section>
