
<section class="charities-index">
  <section class="title-logo">
    <h1>Charity Spree</h1>
    <%= image_tag "nature-big.png" %>
    <p>Powering Generosity</p>
  </section>

  <button type="button" id="first" class="btn btn-default">
    <a class="first" href="#description">
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </a>
  </button>

   <section id="description">
    <article class="site-flow">
      <h3>Donate to charity.</h3>
      <%= image_tag "shape.png" %>
      <h3>Earn achievements for your donations.</h3>
      <%= image_tag "001-award.png" %>
      <%= image_tag "002-medal.png" %>
      <%= image_tag "003-ribbon.png" %>
      <%= image_tag "005-cup.png" %>
      <h3>Share your achievements with your friends!</h3>
      <%= image_tag "004-fb.png", :class => 'social-media' %>
      <%= image_tag "003-twitter.png", :class => 'social-media' %>
    </article>

    <button type="button" id="second" class="btn btn-primary">
      <a class="second" href="#charities-list">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      </a>
    </button>
  </section>

  <section id="charities-list">
    <header class="section-header">
      <h2>Choose Your Charity and Earn Achievements</h2>
    </header>
    <article class="container charity-container">
      <div class="row">
      <% @charities.each do |charity| %>
        <div class="charity-box col-sm-4">
          <%= image_tag charity.image %>
          <h3><%= charity.name.downcase %></h3>
          <p><%= charity.description %></p><div class="choose">
          <%= link_to charity do %>
            <div type="button" class="choose btn btn-info">Choose</div>
          <% end %>
        </div>
        </div>
      <% end %>
      </div>
    </article>
  </section>
</section>

