<section class="charities-index">
  <section class="title-logo">
    <h1>Charity Spree</h1>
    <%= image_tag "nature.png" %>
    <p>Powering Generosity</p>
  </section>

  <button type="button" id="first" class="btn btn-default">
    <a href="#description">
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </a>
  </button>

   <section id="description">
    <h3>Earn achievements for your donations</h3>
    <%= image_tag "001-medieval-2.png" %>
    <%= image_tag "002-arrow.png" %>
    <%= image_tag "003-war.png" %>
    <%= image_tag "004-medieval-1.png" %>
    <%= image_tag "005-medieval.png" %>
    <h3>Share your achievements with your friends</h3>
    <%= image_tag "001-social-media-2.png", :class => 'social-media'  %>
    <%= image_tag "002-social-media-1.png", :class => 'social-media'  %>
    <%= image_tag "003-social-media.png", :class => 'social-media' %>

    <button type="button" id="second" class="btn btn-primary">
      <a href="#charities-list">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      </a>
    </button>
  </section>

  <section id="charities-list">
    <header class="section-header">
      <h2>Choose Your Charity and Earn Achievements</h2>
    </header>
    <article class="container charity-container">
      <div class="row">
      <% @charities.each do |charity| %>
        <div class="col-sm-4">
          <%= image_tag charity.image %>
          <h3><%= charity.name %></h3>
          <p><%= charity.description %></p>
          <%= link_to charity do %>
            <div type="button" class="choose btn btn-info">Choose</div>
          <% end %>
        </div>
      <% end %>
      </div>
    </article>
  </section>
</section>

