<section class="charities-show">
  <section class="charity">
    <h1 class="charity-name"><%= @charity.name %></h1>
    <p class="charity-description"><%= @charity.description %></p>
    <!-- <%= link_to charities_path do %>
      <div type="button" class="choose btn btn-primary">Donate</div>
    <% end %> -->

    <!-- Stripe form -->
    <%= form_for [@charity, @donation] do %>
    <div id="error_explanation">
      <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
      <% end %>
    </div>
    <article>
      <%= label_tag(:amount, 'Donation Amount:') %>
      <%= text_field_tag(:amount) %>
    </article>
    <article>
      <%= hidden_field_tag(:stripeToken) %>
      <%= hidden_field_tag "currentUser" , current_user %>
    </article>
    <button id='donateButton' class="choose btn btn-primary">Donate</button>
    <% end %>

    <script>

    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      locale: 'auto',
      name: 'Charity Spree',
      description: 'One-time donation',
      token: function(token) {
        $('input#stripeToken').val(token.id);
        $('form').submit();
      }
    });

    $('#donateButton').on('click', function(e) {
      e.preventDefault();

      $('#error_explanation').html('');
      console.log("currentUser", $('input#currentUser').val())
      var amount = $('input#amount').val();
      amount = amount.replace(/\$/g, '').replace(/\,/g, '')

      amount = parseFloat(amount);

      if (isNaN(amount)) {
        $('#error_explanation').html('<p>Please enter a valid amount in CAD ($).</p>');
      }
      else {
        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
    </script>

  </section>


  <section class="achievements-legend">
    <h3>Achievements</h4>
    <% @achievements.each do |achievement | %>
      <p>
        <a href=""><%= achievement.title %></a>
        <br>
        <%= achievement.description %>
        <%= image_tag achievement.image %>
      </p>
    <% end %>
  </section>
</section>
