<section class="charities-show">
  <section class="charity">
    <h1 class="charity-name"><%= @charity.name %></h1>
    <p class="charity-description"><%= @charity.description %></p>
    <!-- <%= link_to charities_path do %>
      <div type="button" class="choose btn btn-primary">Donate</div>
    <% end %> -->

    <!-- Stripe form -->
    <%= form_for [@charity, @donation] do %>
    <div id="error_explanation">
      <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
      <% end %>
    </div>
    <article>
      <%= label_tag(:amount, 'Donation Amount:') %>
      <%= text_field_tag(:amount) %>
    </article>
    <article>
      <%= hidden_field_tag(:stripeToken) %>
      <%= hidden_field_tag "currentUser" , current_user %>
    </article>
    <button id='donateButton' class="choose btn btn-primary">Donate</button>
    <% end %>

    <script>
console.log("load script donate button")
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      locale: 'auto',
      name: 'Charity Spree',
      description: 'One-time donation',
      <% if current_user %>
        email: '<%= current_user.email %>',
      <% end %>
      token: function(token) {
        $('input#stripeToken').val(token.id);
        $('form').submit();
      }
    });

    $('#donateButton').on('click', function(e) {
      e.preventDefault();

      $('#error_explanation').html('');
      console.log("currentUser", $('input#currentUser').val())
      var amount = $('input#amount').val();
      amount = amount.replace(/\$/g, '').replace(/\,/g, '')

      amount = parseFloat(amount);

      if (isNaN(amount)) {
        $('#error_explanation').html('<p>Please enter a valid amount in CAD ($).</p>');
      }
      else {
        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
    </script>

  </section>


  <section class="achievements-legend">
    <h3>Achievements</h4>
    <% @achievements.each do |achievement | %>
      <p>
        <a href=""><%= achievement.title %></a>
        <br>
        <%= achievement.description %>
        <%= image_tag achievement.image %>
      </p>
    <% end %>
  </section>
</section>



<section class="charity-statistics"
<div class="container">
  <div class="row">
        <div class="col-md-12">
            <h2>Charity <%= @charity.name %> Stats</h2>
        </div>
  </div>
    <div class="row">
        <div class="col-md-3">
          <ul data-pie-id="svg">
            <li data-value="60">Water Buffalo (60)</li>
            <li data-value="20">Bison (20)</li>
            <li data-value="12">Sheep (12)</li>
            <li data-value="32">Goat (32)</li>
            <li data-value="50">Shetland Pony (50)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <div id="svg"></div>
        </div>
        <div class="col-md-3">
          <ul data-pie-id="my-cool-chart" data-options='{"donut": "true"}'>
              <li data-value="36">Pepperoni</li>
              <li data-value="14">Sausage</li>
              <li data-value="8">Cheese</li>
              <li data-value="11">Mushrooms</li>
              <li data-value="7">Chicken</li>
              <li data-value="24">Other</li>
            </ul>

        </div>
        <div class="col-md-3">
            <div id="my-cool-chart"></div>
        </div>
    </div>
</div>
</section>

<div class="ticker-wrap">
<div class="ticker">
<% @news_articles[0..4].each do |article| %>
     <div class="ticker__item">
   <%= link_to(image_tag(article['urlToImage'], height: 20, width: 20) , article['url']) %>
    <%= link_to(article['title'], article['url'], target: :blank) %>
      </div>
<% end %>

</div>
</div>

<script>
$(document).ready(function() {
console.log("charity ready page")
Pizza.init();
})
</script>

