<%= javascript_include_tag "charities" %>


<section class="charities-show">
  <section class="charity">
    <h1 class="charity-name"><%= @charity.name %></h1>
    <p class="charity-description"><%= @charity.description %></p>


    <!-- Stripe form -->
    <% if current_user %>
      <%= form_for [@charity, @donation] do %>
      <div id="error_explanation">
        <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
        <% end %>
      </div>
      <article>
        <%= label_tag(:amount, 'Donation Amount:') %>
        <%= text_field_tag(:amount) %>
      </article>
      <article>
        <%= hidden_field_tag(:stripeToken) %>
        <%= hidden_field_tag "currentUser" , current_user %>
      </article>
      <button id='donateButton' class="choose btn btn-primary">Donate</button>
      <% end %>
    <% else %>
      <p>
        Please <a href="/signup">SIGN UP</a> or <a href="/login">LOGIN</a> to proceed with a donation.
      </p>

    <% end %>

    <script>
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      locale: 'auto',
      name: 'Charity Spree',
      description: 'One-time donation',
      <% if current_user %>
        email: '<%= current_user.email %>',
      <% end %>
      token: function(token) {
        $('input#stripeToken').val(token.id);
        $('form').submit();
      }
    });

    $('#donateButton').on('click', function(e) {
      e.preventDefault();

      $('#error_explanation').html('');
      var amount = $('input#amount').val();
      amount = amount.replace(/\$/g, '').replace(/\,/g, '')

      amount = parseFloat(amount);

      if (isNaN(amount)) {
        $('#error_explanation').html('<p>Please enter a valid amount in CAD ($).</p>');
      }
      else {
        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
    </script>

  </section>


  <section class="achievements-legend">
    <h3>Achievements</h4>
    <% @achievements.each do |achievement | %>
      <p>
        <a href=""><%= achievement.title %></a>
        <br>
        <%= achievement.description %>
        <%= image_tag achievement.image %>
      </p>
    <% end %>
  </section>
</section>



<% if @charity.donations.count > 1 %>
<section class="charity-statistics" id="charity-statistics" >

<div class="container">

  <div class="row">
        <div class="col-md-12">
            <h2>Charity <%= @charity.name %> Stats</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td> <h3> Total Donation amount </h3> </td>
                <td> <h3> <%= @charity.amount %> </h3></td>
              </tr>
              <tr>
                <td> <h3> Number of Donations </h3> </td>
                <td> <h3> <%= @charity.donations.count %> </h3></td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
    <div class="row" >

        <div class="col-md-3">
          <h4>
            Donations by donation amount
          </h4>
          <ul data-pie-id="donations-chart">
            <li data-value="<%= @donation_number_stats[0_4] %>">0 - 4$ Donation (<%= @donation_number_stats[0_4] %>)</li>
            <li data-value="<%= @donation_number_stats[5_9] %>">5 - 9$ Donation (<%= @donation_number_stats[5_9] %>)</li>
            <li data-value="<%= @donation_number_stats[10_49] %>">10 - 49$ Donation (<%= @donation_number_stats[10_49] %>)</li>
            <li data-value="<%= @donation_number_stats[50_99] %>">50 - 99$ Donation (<%= @donation_number_stats[50_99] %>)</li>
            <li data-value="<%= @donation_number_stats[100] %>">100$ + Donation (<%= @donation_number_stats[100] %>)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <div id="donations-chart"></div>
        </div>
        <div class="col-md-3">
           <h4>
            % Total by donation amount
          </h4>
          <ul data-pie-id="amounts-chart" data-options='{"donut": "true"}'>
            <li data-value="<%= @donation_quantity_stats[0_4] %>">0 - 4$ Donation (<%= @donation_quantity_stats[0_4] %>)</li>
            <li data-value="<%= @donation_quantity_stats[5_9] %>">5 - 9$ Donation (<%= @donation_quantity_stats[5_9] %>)</li>
            <li data-value="<%= @donation_quantity_stats[10_49] %>">10 - 49$ Donation (<%= @donation_quantity_stats[10_49] %>)</li>
            <li data-value="<%= @donation_quantity_stats[50_99] %>">50 - 99$ Donation (<%= @donation_quantity_stats[50_99] %>)</li>
            <li data-value="<%= @donation_quantity_stats[100] %>">100$ + Donation (<%= @donation_quantity_stats[100] %>)</li>
            </ul>

        </div>
        <div class="col-md-3">
            <div id="amounts-chart"></div>
        </div>
    </div>
</div>
</section>
<% end %>

<div class="ticker-wrap">
<div class="ticker">
<% @news_articles[0..5].each do |article| %>
     <div class="ticker__item">
    <%= link_to(article['title'], article['url'], target: :blank) %>
      </div>
<% end %>

<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
</div>
</div>
