<nav class="event-banner navbar navbar-default">

<div id="text-carousel" class="carousel slide">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="carousel-inner">
                  <% recent_activities.each { |activity| %>
                  <% if activity.eql?(recent_activities.first) %>
                      <div class="item active">
                  <% else %>
                      <div class="item">
                  <% end %>
                     <div class="carousel-content">
                        <div>

                          <p>
                          <% if session[:user_id] && ( session[:time] == nil ||
                            activity[:date] > session[:time] )%>
                             <%= image_tag "new.png" %>
                          <% end %>
                            <%= image_tag activity[:image] %>
                          <%= activity[:user_name].strip %>
                          <% if activity[:activity] == "Donation" %>
                          donated <%= activity[:quantity] %> $CAD! to <%=activity[:charity_name]%> -- Thanks so much <%=activity[:user_name]%>!
                        </p>
                          <% else%>
                            achieved <%= activity[:achievement] %> -- Congratulations <%=activity[:user_name]%>! </p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
            </div>
        </div>
  </div>


  <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>


</nav>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("nature.png", alt: "logo"), '/', class: 'navbar-brand' %>
      <a class="navbar-brand" href="/">Charity Spree</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><a id="current-user" href= '/users/<%= current_user.id %>'>welcome, <%= current_user.first_name.downcase %>!</a></li>
        <li><a id="logout" href="/logout">logout</a></li>
      <% else %>
        <li><a id="register" href="/signup">sign up</a></li>
        <li><a id="login" href="/login">login</a></li>
      <% end %>
        <li><a id="donate" href="/#charities-list">donate</a></li>
        <li><a id="about" href="/about">about</a></li>
        <!-- SEARCH MAGNIFIER -->
        <li>
          <a href="#search_box" class="btn" id="search">&#9740;</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
  <!-- SEARCH BAR FOR USERS -->
  <%= form_tag(users_path, method: :get, id: "search_box") do %>
  <%= text_field_tag :term, params[:term], placeholder: "Search users ..." %>
  <%= submit_tag 'Search', class: "search_icon" %>
  <% end %>
  </div>
</nav>
