<!DOCTYPE html>
<html>
  <head>

    <title>Charity Spree</title>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag       'nature.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Facebook meta data -->
    <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Charity Spree" />
    <meta property="og:description"   content="Earn achievements for your donations and share them with your friends" />
    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
    <!-- *END* Facebook meta data -->
  </head>

  <body>
    <!-- Load Facebook SDK for JavaScript  -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- *END* Load Facebook SDK for JavaScript  -->

    <%= render 'layouts/top_nav' %>

    <main class="container-fluid">
      <%= yield %>
    </main>

    <%= yield :end_of_body %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </body>
</html>
